apiVersion: apps/v1
kind: Deployment
metadata:
  name: all-of-fabric-7
  namespace: minecraft-aof7
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
    spec:
      securityContext:
        runAsUser: 0
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: world-data
          persistentVolumeClaim:
            claimName: world-data
        #        - name: backup
        #          persistentVolumeClaim:
        #            claimName: backup-pvc
        - name: startserver
          configMap:
            name: aof7-startserver
            defaultMode: 0755
        - name: backup-config
          configMap:
            name: advanced-backups-config
            defaultMode: 0755
        - name: server-properties
          configMap:
            name: mc-server-properties
            defaultMode: 0755
        - name: server-setup-config
          configMap:
            name: server-setup-config
            defaultMode: 0755
        - name: mcrcon-commands
          configMap:
            name: minecraft-commands
            defaultMode: 0755
        - name: env-file
          secret:
            secretName: mc-env 
      containers:
        - name: all-of-fabric-7
          image: "docker.io/chrisroth667/aof7:2.5.3"
          imagePullPolicy: Always
          ports:
            - containerPort: 25565
              protocol: TCP
          env:
            - name: MCRCON_HOST
              value: "localhost"
            - name: MCRCON_PORT
              value: "25575"
            - name: MCRCON_PASS
              valueFrom:
                secretKeyRef:
                  name: mcrcon-password
                  key: MCRCON_PASS
          envFrom:
            - secretRef:
                name: mc-env
          volumeMounts:
            - name: mcrcon-commands
              mountPath: /data/commands.txt
              subPath: commands.txt
            - name: env-file
              mountPath: /opt/.env
              subPath: .env
            - name: world-data
              mountPath: /data/world
                #            - name: backup
                #              mountPath: /data/simplebackups
            - name: startserver
              mountPath: /data/startserver.sh
              subPath: startserver.sh
            - name: backup-config
              mountPath: /data/config/AdvancedBackups.properties
              subPath: AdvancedBackups.properties
            - name: server-properties
              mountPath: /data/server.properties
              subPath: server.properties
            - name: server-setup-config
              mountPath: /data/server-setup-config.yaml
              subPath: server-setup-config.yaml
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      schedulerName: default-scheduler
